/*-------------[FONTS]-------------*/

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/*-------------[BODY]-------------*/

html {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
            supported by Chrome, Edge, Opera and Firefox */
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

/*--------------------------[NAVBAR]--------------------------*/

.navbar_top {
    background-color: #5f4dee;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_top p {margin: 0;}

.navbar_logo {
    width: 35px;
}

.navbar_title {
    color: #FFFFFF;
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    padding: 10px 0 10px 30px;
    -webkit-animation: opacity 3s forwards;
    animation: opacity 3s forwards;
}

.navbar_category {
    color: #ffffff77;
    font-size: 15px;
    font-weight: bold;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    -webkit-animation: opacity 3s forwards;
    animation: opacity 3s forwards;
}

.navbar_category p {
    cursor: pointer;
    transition-duration: .3s;
}

.navbar_category p:hover {
    color: #FFFFFF !important;
}

#category_1 {
    color: #FFFFFF;
}

.language_menu {
    background-color: #5f4dee;
    width: 90px;
}

#now_language{
    text-align: center;
}

#other_language {
    display: none;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    background-color: #5f4dee;
}

/*--------------------------[SCROLL BUTTON]--------------------------*/
  
.scroll-down {
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -32px;
    display: block;
    width: 50px;
    height: 50px;
    
    background-size: 14px auto;
    border-radius: 50%;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
  
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(47% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #5f4dee;
    border-width: 0px 0 2px 2px;
}

.next_scroll, .before_scroll {
    margin-left: 90%;
    width: 30px;
    height: 30px;
    content: "";
    border: 2px solid #5f4dee;
    border-width: 0px 0 2px 2px;
    cursor: pointer;
}

.before_scroll {transform: rotate(135deg);}
.next_scroll {transform: rotate(-45deg);}


/*--------------------------[LANDING PAGE]--------------------------*/

.landing_page {
    height: 100vh;
}

.landing_container {
    padding: 130px 0 0 100px;
    height: 42%;
    background-color: #5f4dee;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.landing_text {
    padding-top: 100px;
    color: #FFFFFF;
    opacity: 0;
    -webkit-animation: opacity 4s forwards;
    animation: opacity 4s forwards;
}

.landing_title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.landing_desc {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.landing_button {
    margin-top: 20px;
    border: solid 2px #5f4dee;
    cursor: pointer;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #5f4dee;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    transition-duration: .3s;
}

.landing_button:hover {
    background-color: #5f4dee;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
}

.landing_image {
    padding-top: 100px;
    width: 700px;
    filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.2));
    -webkit-animation: landing_image 2s forwards;
    animation: landing_image 2s forwards;
}

/*--------------------------[ENTREPRISE]--------------------------*/

.entreprise {   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_title {
    margin-top: 100px;
    font-weight: 400;
    font-size: 30px;
    color: #5f4dee;
}

.entreprise_container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.activity_fenetrea {
    width: 600px;
}

.presentation_fenetrea {
    margin-top: -50px;
    margin-left: 20px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation_fenetrea p {
    text-align: center;
}

.logo_fenetrea {
    width: 200px;
    margin-bottom: 50px;
}

.entreprise .before_scroll {
    margin-top: 100px;
}

/*--------------------------[MISSIONS]--------------------------*/

.missions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.missions h1 {margin-bottom: 100px;}

.container_missions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    background-color: #604dee14;
    padding: 0 50px;
    height: 600px;
}

.container_missions img {
    width: 30vw;
    border-radius: 20px;
}

.recherche {border-top-left-radius: 20px; border-top-right-radius: 20px;}
.derouler {border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}

.recherche p {margin-left: 20px;}
.derouler p {margin-right: 20px;}

.missions .before_scroll {
    margin-left: 129%;
}

.missions .next_scroll {
    margin-left: 129%;
}


/*--------------------------[PROJECTS]--------------------------*/

.zoom {transition-duration: .5s;}
.zoom:hover {transform: scale(1.2);filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.4))}
.zoom18 {transition-duration: .5s;}
.zoom18:hover {transform: scale(1.8);filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.4))}

.projects {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h1 {margin-bottom: 100px;}

.frame_projects {
    background-color: #604dee14;
    padding: 50px 50px 0 50px;
    margin-bottom: 70px;
    border-radius: 20px;
    width: 1140px;
    height: 100%;
}

.container_projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.application_image {
    width: 500px;
}

.WebService {
    border-radius: 20px;
    margin-bottom: 20px;
}

.flex_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.flex_download {
    display: flex;
    justify-content: flex-end;
    margin: 10px -30px 10px 0;
}

.download_icon {
    width: 50px;
}

.result_image {
    margin-top: 30px;
    width: 400px;
    z-index: 2;
}

.fa-stack{cursor: pointer;}
.fa-stack .fa-stack-1x {
    color: #fff;
	transition: all 0.2s ease;
}

.fa-stack .fa-stack-2x {
	color: #5f4dee;
	transition: all 0.2s ease;
}

.fa-stack:hover .fa-stack-1x {
	color: #5f4dee;
}

.fa-stack:hover .fa-stack-2x {
    color: #e5e1fc;
}

.visible {visibility: visible; display: block;}
.collapse {visibility: collapse; display: none;}

.display_code {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: #54525283;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_code {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 990px;
    background-color: #FFFFFF;
}

.container_code i {
    color: #5f4dee;
    position: relative;
    top: -47%;
    left: 93.5%;
    margin-left: -25px;
    cursor: pointer;
}

.overflow_iframe {
    overflow: hidden;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs_viewer {
    height: 700px;
    width: 890px;
    overflow: scroll;
}

/*-------------ANIMATION-------------*/

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}

@keyframes landing_image {
    0% {
        -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0) rotate(3deg);
        -ms-transform: translateX(0) rotate(3deg);
        transform: translateX(0) rotate(3deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*--------------------------[RESPONSIVE]--------------------------*/

@media (max-width: 1250px) {
    .landing_container {
        padding: 130px 0 0 0;
    }
    .landing_image {
        display: none;
    }
    .entreprise_container {
        flex-direction: column-reverse;
    }
    .presentation_fenetrea {
        margin-left: 0;
    }
    .frame_projects {
        width: 80vw;
    }
    .application_image {
        display: none;
    }
}

@media (max-width: 1130px) and (min-width: 381px) {
    p {
        font-size: 14px;
    }
}

@media (max-width: 1050px) {
    .container_code {
        width: 800px;
    }
    .container_code i {
        left: 92.5%;
    }
    .overflow_iframe {
        width: 700px;
    }
}

@media (max-width: 900px) {
    .container_missions img {
        display: none;
    }
    .container_missions {
        padding: 50px;
        height: 100%;
    }
}

@media (max-width: 850px) {
    .container_code {
        width: 600px;
    }
    .container_code i {
        left: 89.5%;
    }
    .overflow_iframe {
        width: 500px;
    }
}

@media (max-width: 670px) {
    .navbar_top {
        position: inherit;
    }
    .navbar_category
    {
        display: none;
    }
    .activity_fenetrea {
        width: 400px;
    }
    .next_scroll, .before_scroll {
        margin-left: 80%;
    }
    .frame_projects {
        width: 60vw;
    }
    p {
        font-size: 14px;
    }
    .flex_projects p {
        width: 66vw;
    }
    .container_code {
        width: 400px;
    }
    .container_code i {
        left: 84.5%;
    }
    .overflow_iframe {
        width: 300px;
    }
}

@media (max-width: 550px) {
    .result_image{
        width: 300px;
    }
}

@media (max-width: 470px) {
    .landing_text {
        text-align: center;
    }
}

@media (max-width: 430px) {
    .activity_fenetrea {
        width: 330px;
    }
}

@media (max-width: 380px) {
    p {
        font-size: 12px;
    }
}

@media (max-height: 950px) {
    .container_code {
        height: 680px;
    }
    .container_code i {
        left: 94%;
        top: -46%;
    }
    .overflow_iframe {
        height: 580px;
    }
    .cs_viewer {
        height: 580px;
    }
}

@media (max-height: 840px) {
    .container_code {
        height: 580px;
    }
    .container_code i {
        left: 94%;
        top: -46%;
    }
    .overflow_iframe {
        height: 480px;
    }
    .cs_viewer {
        height: 480px;
    }
}

@media (max-height: 740px) {
    .container_code {
        height: 480px;
    }
    .container_code i {
        left: 94%;
        top: -46%;
    }
    .overflow_iframe {
        height: 380px;
    }
    .cs_viewer {
        height: 380px;
    }
}

@media (max-height: 500px) {
    .container_code i {
        left: 84%;
    }
}

/*--------------------------[STYLE_CS]--------------------------*/

pre .str, code .str { color: #65B042; }
pre .kwd, code .kwd { color: #E28964; }
pre .com, code .com { color: #AEAEAE; font-style: italic; }
pre .typ, code .typ { color: #89bdff; }
pre .lit, code .lit { color: #3387CC; }
pre .pun, code .pun { color: #fff; }
pre .pln, code .pln { color: #fff; }
pre .tag, code .tag { color: #89bdff; }
pre .atn, code .atn { color: #bdb76b; }
pre .atv, code .atv { color: #65B042; }
pre .dec, code .dec { color: #3387CC; }

pre.prettyprint, code.prettyprint {
	background-color: #000;
}

ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; }
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
li.L1,li.L3,li.L5,li.L7,li.L9 { background-color: transparent !important; }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}