body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parametre {
    margin-top: 10px;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#canvas {
    display: none;
}

#canvasTransition {
    display: none;
}

h1 {
    font-size: 20px;
    font-weight: normal;
}

#tuto {
    display: none;
}